.hero-lp {
  padding-top: 40px;
  //padding-bottom: 40px;
  background-color: $main-color;

  $block-name:                &; // #{$block-name}__element

  &__text-col {
    @include col(xs, 12);
    @include col(xl, 8);
  }

  &__form-col {
    @include col(xs, 12);
    @include col(xl, 4);
    margin-bottom: 40px;
    margin-top: -20px;

    @media (min-width: $screen-md) {
      margin-top: -50px;
    }

    @media (min-width: $screen-xl) {
      margin-top: 0;
    }
  }

  &__text {

    @media (min-width: $screen-xl) {
      position: relative;
      height: 100%;
    }
  }

  &__caption {
    font-size: 26px;
    font-weight: 700;

    @media (min-width: $screen-md) {
      font-size: 56px;
    }

    @media (min-width: $screen-xl) {
      font-size: 60px;
    }
  }

  &__info {
    font-size: 20px;
    font-weight: 600;

    @media (min-width: $screen-md) {
      font-size: 32px;
    }

    @media (min-width: $screen-xl) {
      font-size: 36px;
    }
  }

  &__youtube {
    //display: inline-flex;
    //align-items: center;
    margin-bottom: 24px;
  }

  &__youtube-link {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 0;
    font-family: $font-family;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    border: none;
    background: transparent;
    user-select: none;
    cursor: pointer;

    &:hover,
    &:focus {

      #{$block-name}__youtube-icon {
        transform: scale(1.15);
      }
    }
  }

  &__youtube-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    background-color: $white;
    border-radius: 50%;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.16);
    transition: transform $transition-time;
  }

  &__youtube-text {
    max-width: 208px;
    //margin-left: 24px;
    text-align: initial;
  }

  &__img {
    pointer-events: none;

    @media (min-width: $screen-md) {
      margin-top: -60px;
    }

    @media (min-width: $screen-xl) {
      //margin-top: -84px;
      position: absolute;
      bottom: 0;
      right: 10px;
    }

    img {
      display: block;
      width: 100%;
      max-width: 360px;
      margin: 0 auto;

      @media (min-width: $screen-md) {
        max-width: 560px;
        margin-right: 0;
      }

      @media (min-width: $screen-xl) {
        max-width: 736px;
      }
    }
  }

  &__form {
    padding: 16px;
    background-color: $black;

    .btn {
      width: 100%;
    }

    .btn + .btn {
      margin-top: 16px;
    }
  }

  &__form-inner {
    margin-bottom: 16px;
  }

  &__form-inner-col {
    @include col(xs, 12);
    @include col(md, 6);
    @include col(xl, 12);
  }

  &__agreement {

    .field-checkbox {
      margin-bottom: 24px;
    }
  }
}
