/* montserrat-regular - latin_cyrillic */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/montserrat-v25-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin_cyrillic */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/montserrat-v25-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin_cyrillic */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/montserrat-v25-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/montserrat-v25-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


body {
  // ТОЛЬКО типографика!
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  word-break: break-word;
  text-align: left;
  text-decoration-skip-ink: auto;
  color: $text-color;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // text-rendering: optimizeLegibility;
  // Partial support in Android browser versions is due to a serious bug where text-rendering: optimizeLegibility causes custom web fonts to not render!!!
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  color: inherit;
}

.h1,
h1 {
  margin-top: 0;
  margin-bottom: 24px;
}

.h2,
.h3,
.h4,
h2,
h3,
h4 {
  margin-top: 48px;
  margin-bottom: 16px;

  @media (min-width: $screen-xl) {
    margin-top: 64px;
  }
}


.h5,
.h6,
h5,
h6 {
  margin-top: 1.5em;
  margin-bottom: 0;
}

div,
section,
article {

  & > h2:first-child,
  & > h3:first-child,
  & > h4:first-child,
  & > h5:first-child,
  & > h6:first-child {
    margin-top: 0;
  }
}

.h1,
h1 {
  font-size: $font-size--h1;
}

.h2,
h2 {
  font-size: $font-size--h2;
}

.h3,
h3 {
  font-size: $font-size--h3;
}

.h4,
h4 {
  font-size: $font-size--h4;
}

.h5,
h5 {
  font-size: $font-size--h5;
}

.h6,
h6 {
  font-size: $font-size--h6;
}

.display-1 {
  //margin-top: 0;
  margin-bottom: 24px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  color: $white;

  @media (min-width: $screen-md) {
    font-size: 52px;
  }

  @media (min-width: $screen-xl) {
    font-size: 86px;
  }
}

.p,
p,
ul,
ol,
dl,
blockquote,
pre,
address,
figure {
  margin-top: 1em;
  margin-bottom: 1em;
  color: inherit;

  &:last-child {
    margin-bottom: 0;
  }
}

p {
  // http://clagnut.com/blog/2395
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

address {
  font-style: normal;
}

ul,
ol {
  padding-left: 1.3em;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-top: 0;
  margin-bottom: 0;
}

ol {

  li::marker {
    font-weight: 500;
  }
}

li {
  line-height: inherit;
}

li + li {
  margin-top: 0.5em;
}

hr {
  box-sizing: content-box; // Проблема Firefox
  height: 0;               // Проблема Firefox
  overflow: visible;       // Проблема Edge и IE
  margin-top: 1em;
  margin-bottom: 1em;
  border: 0;
  border-top: 1px solid $border-color;
}

.small,
small {
  font-size: $font-size * 0.75;
}

sub,
sup {
  font-size: 70%;
}

b,
strong {
  font-weight: bolder;
}

abbr[title] {
  text-decoration: underline dotted;
}

blockquote {
  position: relative;
  padding: 64px 24px;
  margin-top: 50px;
  margin-left: 0;
  margin-right: 0;
  background-color: $block-bg;

  @media (min-width: $screen-xl) {
    padding: 64px 48px;
  }

  &::before {
    display: block;
    content: "";
    position: absolute;
    left: 48px;
    top: -26px;
    width: 52px;
    height: 52px;
    background-color: $black;
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: svg-load('../blocks/sprite-svg/svg/quotes.svg', fill=$white);
  }
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;

  @media (min-width: $screen-sm) {
    margin-left: 1.5rem;
  }

  & + dt {
    margin-top: 0.5em;
  }
}

// samp,
code,
kbd,
pre {
  font-family: $font-family--monospace;
}

code {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: rgba(#000, 0.08);
  border-radius: $border-radius;
}

kbd {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: $gray-lightest;
  border-radius: $border-radius;

  kbd {
    padding: 0;
  }
}

pre {
  display: block;
  width: 100%;
  margin-bottom: 0.5em;
  overflow-x: auto;
  tab-size: 2;
  background-color: rgba(#000, 0.08);

  code {
    background: transparent;
  }
}

a {
  text-decoration-skip-ink: inherit;
}

