.page-header {
  padding-top: 24px;
  padding-bottom: 24px;

  $block-name:                &; // #{$block-name}__element

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $screen-xl) {
      flex-direction: initial;
      justify-content: space-between;
    }
  }

  &__user-menu {
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 24px 24px;
    width: 100%;
    margin-top: 24px;

    @media (min-width: $screen-xl) {
      flex: 0 1 auto;
      flex-wrap: nowrap;
      gap: 24px 40px;
      width: auto;
      margin-top: 0;
      //margin-left: 40px;
    }

    .delivery-info,
    .lang-switcher {
      flex: 0 0 auto;
    }

    .hot-line-link,
    .btn.btn--red {
      flex: 1 1 auto;
    }
  }
}
