.page-header {
  padding-top: 24px;
  padding-bottom: 24px;

  $block-name:                &; // #{$block-name}__element

  &__inner {
    display: flex;
    //flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0 24px;

    @media (min-width: $screen-md) and (max-width: $screen-xl) {
      //flex-direction: initial;
      flex-direction: column;
    }
  }

  &__user-menu {
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 24px 24px;
    width: 100%;
    //margin-top: 24px;

    @media (max-width: $screen-md - 1) {
      justify-content: flex-end;
    }

    @media (min-width: $screen-xl) {
      flex: 0 1 auto;
      flex-wrap: nowrap;
      gap: 24px 40px;
      width: auto;
      //margin-top: 0;
      //margin-left: 40px;
    }

    .delivery-info,
    .lang-switcher {
      flex: 0 0 auto;
    }

    .hot-line-link {

      @media (min-width: $screen-md) {
        flex: 1 1 auto;
      }
    }
  }

  &__login {

    @media (min-width: $screen-md) {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  &__login-text {

    @media (max-width: $screen-md - 1) {
      display: none;
    }
  }
}
