.lang-switcher {
  //@include col(xs, 5, $grid-columns, 20px);
  //@include col(md, 2);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;

  @media (min-width: $screen-md) {
    display: inline-flex;
    max-width: 90px;
    margin-left: 0;
  }

  $block-name:                &; // #{$block-name}__element

  .dropdown-toggle {
    height: 56px;
    padding: 0 16px;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: 600;
    //text-transform: uppercase;
    color: inherit;
    background-color: $white;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid $border-color;
    //box-shadow: $shadow;
    cursor: pointer;
    user-select: none;

    &:hover,
    &:focus {
      color: $secondary-color;
    }

    &::after {
      display: inline-block;
      vertical-align: middle;
      content: "";
      width: 24px;
      height: 24px;
      margin-left: 12px;
      transform: rotate(90deg);
      background-image: svg-load('../blocks/sprite-svg/svg/chevron-right.svg', fill=$text-color);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px;
      border: none;
      transition: transform $transition-time ease-out;
    }

    &[aria-expanded=true] {

      &::after {
        transform: rotate(270deg);
      }
    }
  }

  .dropdown-menu {
    width: 100%;
    min-width: 65px;
    background-color: $body-bg;
    border: 1px solid $border-color;
  }

  li.active {

    .dropdown-item {
      color: $secondary-color;
      text-decoration: none;
    }
  }

  .dropdown-item {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: 600;
    //padding-right: 5px;
    text-align: center;
    color: inherit;

    &:hover,
    &:focus {
      color: $secondary-color;
      text-decoration: none;
    }
  }

  .dropdown-item + .dropdown-item {
    padding-top: 8px;
  }
}
