.logo {

  $block-name:                &; // #{$block-name}__element

  display: inline-flex;
  align-items: center;
  justify-content: center;

  img {
    width: 63px;
    height: 56px;
  }

  &__wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    //width: 100%;
    flex: 0 0 63px;

    @media (min-width: $screen-md) {
      //display: flex;
      flex: 0 0 auto;
      width: auto;
    }

    // @media (min-width: $screen-md) and (max-width: $screen-xl) {
    //   margin-bottom: 24px;
    // }
  }

  &__slogan {
    display: none;

    @media (min-width: $screen-xl) {
      display: block;
      margin-top: 0 !important;
      margin-left: 40px;
      text-align: right;
      text-transform: uppercase;
      text-align: inherit;
    }

    // @media (min-width: $screen-xl) {
    //   width: 268px;
    // }
  }
}
