.delivery-info {
  display: none;

  $block-name:                &; // #{$block-name}__element

  @media (min-width: $screen-md) {
    display: inline-flex;
    align-items: center;
    gap: 0 8px;
  }

  &__text {
    display: block;
    width: 98px;
    font-size: $font-size-sm;
    line-height: 1.15;
  }
}
